@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-gradient-to-br from-slate-900 to-slate-800 h-screen  !max-h-screen;
}
body {
  background-size: 50px 50px;
  background-image: radial-gradient(
    circle,
    rgb(55, 68, 98) 1px,
    rgba(0, 0, 0, 0) 1px
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}

.button-type-mode {
  display: none !important;
}
.button-type-fullscreen {
  display: none !important;
}
.sec-md > textarea {
  background: transparent !important;
  border-right: 1px solid rgb(55, 68, 98) !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
